@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: 'Karla', sans-serif;
}



:root {
    --bgcolor : #1C1C1C;
    --accentcolor: rgb(57, 224, 155)
}

body {

    /*background-color: var(--bgcolor);*/
    background-image: url(img/ka.jpg);
    background-size: cover;
    height: 800px;
}

.info-img{

    display: flex;

}

.section-info{

    max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.link-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    margin: 40px auto;
    gap: 20px;
}
.link-tree img {
    width: 100%;
    /* height: 120px; */
    border-radius: 90%;
    margin-left: 15px;
    margin-right: 15px;
}
.link-tree  h2 {
    
    display:none;
    text-align: center;
    /*font-size: 2.5rem;*/
}

.link-tree h1{

    color: #FFF;
    text-align: center;
    


}



.link-tree a {
    background-color: rgb(57, 224, 155);
    width: 100%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px var(--accentcolor);
    transition: all 0.5s linear;
}

.link-tree a:hover {
    background-color: var(--bgcolor);
    color: var(--accentcolor);
}

@media (min-width: 1024px) {
    .link-tree {
        width: 40vw;
    }
}